$gunmetal: #292F36;
$gunmetal-light: #73767a;
$turquoise: #4ECDC4;
$cream: #F7FFF7; 
$bittersweet: #FF6B6B;
$yellow: #FFE66D;


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
    background-color: $gunmetal;
    
}

body {
font-family: 'Lato', sans-serif;
letter-spacing: .04rem;
word-spacing: 0.4rem;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

// ul {
//   list-style: none;
// }

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

}

input,
button,
label {
  display: block;
}


.flex {
  display: flex;
}