header {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: $turquoise;
    margin: 2rem auto;
  }

  p {
    font-size: 1.6rem;
    color: $cream;
    margin-bottom: 2rem;
  }
}

.image {
  background-image: url(../assets/aurora-green.jpg);
  background-size: calc(100% + 100px);
  background-repeat: no-repeat;

  img {
    border-bottom: 5px solid black;
    margin: 0 auto;
  }
}

.image:hover {
  cursor: pointer;
}

.image:focus {
  border-left: 1.5px solid $yellow;
  border-right: 1.5px solid $yellow;
}

.btns {
  margin: 2rem auto;
  justify-content: space-evenly;

  button {
    font-family: "Lato", sans-serif;
    padding: 1rem 2.5rem;
    background-color: $bittersweet;
    color: $cream;
    text-transform: inherit;
    letter-spacing: 0.2rem;
    font-weight: bold;
    border-radius: 3px;
    border: none;
  }

  button:hover,
  button:focus {
    background-color: $yellow;
    color: $gunmetal;
    transition: 0.3s;
    cursor: pointer;
  }

  .skyline-btn {
    background-color: $yellow;
    color: $gunmetal;
    border: 1px solid $bittersweet;
  }

  .skyline-btn:hover,
  .skyline-btn:focus {
    background-color: $cream;
  }
}

.manual {
  color: $gunmetal;
  // font-size: smaller;
  margin: 5rem 5rem 0 5rem;
  li {
    margin-top: 1.8rem;
  }
}
.btn-app p {
  // color: black;
  margin: 15rem 5rem 0 5rem;
}

// Circular menu courtesy of Simon Gooder https://codepen.io/simgooder/pen/bVLjgM
@mixin circle($param) {
  width: $param;
  height: $param;
  border-radius: 50px;
}

body {
  position: relative;
}

.container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.menu-toggle {
  @include circle(7rem);
  background-color: $yellow;
  box-shadow: 4px 4px 2px 1px rgba(#000, 0.2);
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;

  .fa {
    color: $gunmetal;
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    transition: 0.4s;
  }

  &.open .fa {
    transform: rotate(135deg);
  }
}

.btn-app {
  @include circle(40rem);
  position: absolute;
  background-color: $yellow;
  border: 1px solid $bittersweet;
}

.open .btn-app {
  box-shadow: 4px 4px 2px 1px rgba(#000, 0.2);
}

.menu-line {
  .btn-app {
    transition: 0.3s;
    transition-delay: 0.5s;
  }

  &.open {
    $bottom: 4.25em;

    .btn-app:nth-of-type(1) {
      bottom: $bottom;
      right: 0rem;
    }
  }
}
