header {
  text-align: center;
  h1 {
    font-size: 2.5rem;
    color: $turquoise;
    margin: 2rem auto;

  }
  p {
    font-size: 1.6rem;
    // color: $yellow;
    color: $cream;
    margin-bottom: 2rem;
  }
}

.image img {
  height: 70vh;
  margin: 0 auto;
  border-bottom: 30px solid black;
}

.image {
  background-image: url(../assets/aurora-green.jpg);
  background-size: calc(100% + 100px);
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.btns {
  margin: 2rem auto;
  justify-content: space-evenly;

  button {
    font-family: 'Lato', sans-serif;
    padding: 10px 25px;
    background-color: $bittersweet;
    color: $cream;
    text-transform: inherit;
    letter-spacing: .2rem;
    font-weight: bold;
    border-radius: 3px;
  }
}

footer {
justify-content: end;
text-transform: lowercase;
.credits {
    flex-direction: column;
  }
}